h1{
    color:darkblue;
    display:flex;
    justify-content: center;
  }
  h3{
    color: dodgerblue;
  }

  .bars{

    display:flex;
    justify-content:space-around;
    }
    .imgset1,.imgset2,.imgset3{
      display:flex;
      justify-content: space-between;
      flex-direction: row;
    }

